
<div class="hero-section">
    <h1>{{home_data.page_heading}}</h1>
    <p>{{home_data.page_description}}</p>
    {{#home_data.show_call_to_action_button}}
    {{{children.call_to_action_button_props}}}
    {{/show_call_to_action_button}}
</div>

<section class="latest-products">
    <h2>Our Latest Products</h2>
    <div class="product-grid">
        {{#latest_products}}
            {{> components/product_card}}
        {{/latest_products}}
    </div>
</section>
